@font-face {
    font-family: 'Gulfs Display Condensed' ;
    src: url(../Font/GulfsDisplay-Condensed.ttf);
    font-weight: 1000;
    font-size:normal;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



body{
    font-family: 'Gulfs Display Condensed';
    background-image: url(../img/LAPARCHITA_LANDING_BG_-01.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    display: block;
    margin: auto 0;
    justify-content: center;
}

.menu-box{

    display: inline-block;
    margin: 150px 50px 150px 500px;
    padding: 100px 0;
}

.LA-text{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    color: #D94D58;
    font-size: 200px;
    text-shadow: -8px 0 #FFD85A, 0 8px #FFD85A, 8px 0 #FFD85A, 0 -8px #FFD85A;

}

.container-wrapper{
    display: inline-block;
    
}

.wrapper{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

a{
    text-decoration: none;
    pointer-events:painted;
}


.carousel{
    position: relative;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    
}

.carousel-item{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 12px;
    opacity: 0;
    filter: drop-shadow(0 2px 2px #777777);
    will-change: transform, opacity;
    animation: carouselAnim 10s linear infinite;

}



.carousel-item:nth-child(1){

    animation-delay: calc(2s * -1);
}


.carousel-item:nth-child(2){
    animation-delay: calc(2s * 0);
    
}

.carousel-item:nth-child(3){
    
    animation-delay: calc(2s * 1);
}

.carousel-item:nth-child(4){
    animation-delay: calc(2s * 2);
}

.carousel-item:last-child{
    animation-delay: calc(-2s * 2);
}

.carousel-item-text{
    width: 100%;
    padding: 16px 10px 16px 50px;
    

}


.title{
    background-color: #D94D58;
    border-radius: 8px;
    font-size: 200px;
    color: #FFD85A;
    padding: 0 10px;
}


@keyframes carouselAnim{
    0%{
        transform: translateY(100%)scale(0.5);
        opacity: 0;
        visibility: hidden;
    }
    3%,20%{
        transform: translateY(100%)scale(0.75);
        opacity: 0.33;
        visibility: hidden;
    }
    23%,40%{
        transform: translateY(0)scale(1);
        opacity: 1;
        visibility: visible;
    }
    43%,60%{
        transform: translateY(-100%)scale(0.75);
        opacity: 0.33;
        visibility: hidden;
    }
    60%{
        transform: translateY(-100%)scale(0.5);
        opacity: 0;
        visibility: hidden;
    }
    100%{
        transform: translateY(-100%)scale(0.5);
        opacity: 0;
        visibility: hidden;
    }
    
}


