@font-face {
    font-family: 'Gulfs Display Condensed' ;
    src: url(../Font/GulfsDisplay-Condensed.ttf);
    font-weight: 1000;
    font-size:normal;

}

@font-face {
    font-family: 'Boismend Bold' ;
    src: url(../Font/Boismen\ Bold.ttf);
    font-weight: bolder;
    font-size: medium;
}

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    

}

#loader-container{
    width: 100%;
    height: 100%;
    position: fixed;
    transition: all 0.5s ease;
    z-index: 1000;
}

#loader{
    height: 200px;
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: spining 0.5 linear infinite;
}


/* Animaciones: spining */
@keyframes spining{
    from{ transform: rotate(0deg);}
    to{ transform: rotate(360deg);}
}

html{
    scroll-behavior: smooth;
}

body{
    background-image: url(../img/LAPARCHITA_BG_01.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;

}



.container{
    font-family: 'Gulfs Display Condensed';
    display: block;
    justify-content: center;
}

.menu-box{

    display: inline-block;
    margin: 150px 50px 150px 500px;
    padding: 100px 0;
}

.LA-text{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    color: #D94D58;
    font-size: 300px;
    text-shadow: -15px 0 #FFD85A, 0 15px #FFD85A, 15px 0 #FFD85A, 0 -15px #FFD85A;

}

.container-wrapper{
    display: inline-block;
    
}

.wrapper{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

a{
    text-decoration: none;
    pointer-events:painted;   
}


.carousel{
    position: relative;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    
}

.carousel-item{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 12px;
    opacity: 0;
    filter: drop-shadow(0 2px 2px #777777);
    will-change: transform, opacity;
    animation: carouselAnim 10s linear infinite;

}



.carousel-item:nth-child(1){

    animation-delay: calc(2s * -1);
}


.carousel-item:nth-child(2){
    animation-delay: calc(2s * 0);
    
}

.carousel-item:nth-child(3){
    
    animation-delay: calc(2s * 1);
}

.carousel-item:nth-child(4){
    animation-delay: calc(2s * 2);
}

.carousel-item:last-child{
    animation-delay: calc(-2s * 2);
}

.carousel-item-text{
    width: 100%;
    padding: 16px 10px 16px 50px;
    

}

/* Animaciones: CarouselAnim */

@keyframes carouselAnim{
    0%{
        transform: translateY(100%)scale(0.5);
        opacity: 0;
        visibility: hidden;
    }
    3%,20%{
        transform: translateY(100%)scale(0.75);
        opacity: 0.33;
        visibility: hidden;
    }
    23%,40%{
        transform: translateY(0)scale(1);
        opacity: 1;
        visibility: visible;
    }
    43%,60%{
        transform: translateY(-100%)scale(0.75);
        opacity: 0.33;
        visibility: hidden;
    }
    60%{
        transform: translateY(-100%)scale(0.5);
        opacity: 0;
        visibility: hidden;
    }
    100%{
        transform: translateY(-100%)scale(0.5);
        opacity: 0;
        visibility: hidden;
    }
    
}


.title{
    background-color: #D94D58;
    font-size: 200px;
    color: #FFD85A;
    padding: 0 10px;
}


.que-container{
    display: block;
    height: 100vh;
    width: 100%;
    margin: 27rem auto;

}


.que-tittle{
    font-family: 'Gulfs Display Condensed';
    display: block;
    position: relative;
    font-size: 275px;
    color: #D94D58;
    padding: 0 300px 0px 200px;
    margin-top: 15rem;

}

.text{
    font-family: 'Boismend Bold' ;
    box-sizing: border-box;
    position: flex ;
    font-family: 'Boismend Bold';
    text-transform: uppercase;
    font-size: 40px;
    width: 100%;
    color: #844395;
    padding:  0px 600px;
    justify-content: center;

}

b{
    font-size: larger;
    font-weight: 600;

}

p>b:first-child{
    color: #D94D58;
}


.parchita-container{
    display: block;
    height: 900px;
    width: 100%;
    margin: 65rem auto 55rem;

}

.parchita-tittle{
    font-family: 'Gulfs Display Condensed';
    display: block;
    position: relative;
    font-family: 'Gulfs Display Condensed';
    font-size: 250px;
    color: #FFD85A;
    padding: 200px 0px 0 500px;
    margin-bottom: 40px ;
}

.text-parchita{
    font-family: 'Boismend Bold' ;
    box-sizing: border-box;
    position: flex ;
    font-family: 'Boismend Bold';
    text-transform: uppercase;
    font-size: 40px;
    width: 100%;
    color: #FFD85A;
    padding:  20px 400px;
    justify-content: center;
}

#Q1, #P1{
    transition: 1s;
}

/* Mobile Responsive */


@media (max-width: 600px){

    *{
        border: 1px solid red;
    }

    #loader{
        height: 100px;
        width: 100px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        animation: spining 0.5 linear infinite;
    }

    .menu-box{

        display: inline-block;
        margin: 150px 0 150px 0;
        padding: 100px 0;
    }


    .que-container{
        display: block;
        height: 100vh;
        width: 100vw;
          
    }

    .que-tittle{
        font-family: 'Gulfs Display Condensed';
        display: block;
        position: relative;
        font-size: 100px;
        color: #D94D58;
        padding: 0;
        margin-top: 15rem;
    
    }

    .text{
        font-family: 'Boismend Bold' ;
        box-sizing: border-box;
        position: flex ;
        font-family: 'Boismend Bold';
        text-transform: uppercase;
        font-size: 20px;
        width: 100%;
        color: #844395;
        padding: 0;
        justify-content: center;
    
    }



    .parchita-container{
        display: block;
        height: 900px;
        width: 100%;
        margin: 0;
    
    }
    
    .parchita-tittle{
        font-family: 'Gulfs Display Condensed';
        display: block;
        position: relative;
        font-family: 'Gulfs Display Condensed';
        font-size: 100px;
        color: #FFD85A;
        padding: 0;
        margin-bottom: 40px ;
    }

    .text-parchita{
        font-family: 'Boismend Bold' ;
        box-sizing: border-box;
        position: flex ;
        font-family: 'Boismend Bold';
        text-transform: uppercase;
        font-size: 20px;
        width: 100%;
        color: #FFD85A;
        padding: 0;
        justify-content: center;
    }
    
}




