@font-face {
    font-family: 'Gulfs Display Condensed' ;
    src: url(../Font/GulfsDisplay-Condensed.ttf);
    font-weight: 1000;
    font-size:normal;

}

@font-face {
    font-family: 'Boismend Bold' ;
    src: url(../Font/Boismen\ Bold.ttf);
    font-weight: bolder;
    font-size: medium;
}

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    

}




html{
    scroll-behavior: smooth;
}

body{
    background-image: url(../img/LAPARCHITA_BG_01.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;

}



.container{
    font-family: 'Gulfs Display Condensed';
    display: block;
    justify-content: center;
}

.menu-box{

    display: inline-block;
    margin: 150px 50px 150px 450px;
    padding: 100px 0;
}

.LA-text{
    display: flex;
    color: #D94D58;
    font-size: 300px;
    text-shadow: -15px 15px #FFD85A, 15px -15px #FFD85A, 15px -15px #FFD85A, -15px 15px #FFD85A;

}

.container-wrapper{
    display: inline-block;
    
}

.wrapper{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

a{
    text-decoration: none;
    pointer-events:painted;   
}


.carousel{
    position: relative;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    
}

.carousel-item{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 12px;
    opacity: 0;
    filter: drop-shadow(0 2px 2px #777777);
    will-change: transform, opacity;
    animation: carouselAnim 10s linear infinite;

}



.carousel-item:nth-child(1){

    animation-delay: calc(2s * -1);
}


.carousel-item:nth-child(2){
    animation-delay: calc(2s * 0);
    
}

.carousel-item:nth-child(3){
    
    animation-delay: calc(2s * 1);
}

.carousel-item:nth-child(4){
    animation-delay: calc(2s * 2);
}

.carousel-item:last-child{
    animation-delay: calc(-2s * 2);
}

.carousel-item-text{
    width: 100%;
    padding: 16px 10px 16px 50px;
    

}

/* Animaciones: CarouselAnim */

@keyframes carouselAnim{
    0%{
        transform: translateY(100%)scale(0.5);
        opacity: 0;
        visibility: hidden;
    }
    3%,20%{
        transform: translateY(100%)scale(0.75);
        opacity: 0.33;
        visibility: hidden;
    }
    23%,40%{
        transform: translateY(0)scale(1);
        opacity: 1;
        visibility: visible;
    }
    43%,60%{
        transform: translateY(-100%)scale(0.75);
        opacity: 0.33;
        visibility: hidden;
    }
    60%{
        transform: translateY(-100%)scale(0.5);
        opacity: 0;
        visibility: hidden;
    }
    100%{
        transform: translateY(-100%)scale(0.5);
        opacity: 0;
        visibility: hidden;
    }
    
}


.title{
    background-color: #D94D58;
    font-size: 200px;
    color: #FFD85A;
    padding: 0 10px;
}


.que-container{
    display: block;
    height: 100vh;
    width: 100%;
    margin: 27rem auto;

}


.que-tittle{
    font-family: 'Gulfs Display Condensed';
    display: block;
    position: relative;
    font-size: 275px;
    color: #D94D58;
    padding: 0 300px 0px 200px;
    margin-top: 15rem;

}

.text{
    font-family: 'Boismend Bold' ;
    box-sizing: border-box;
    position: flex ;
    font-family: 'Boismend Bold';
    text-transform: uppercase;
    font-size: 40px;
    width: 100%;
    color: #844395;
    padding:  100px 400px;
    justify-content: center;

}

b{
    font-size: larger;
    font-weight: 600;

}

p>b:first-child{
    color: #D94D58;
}


.parchita-container{
    display: block;
    height: 900px;
    width: 100%;
    margin: 65rem auto 55rem;

}

.parchita-tittle{
    font-family: 'Gulfs Display Condensed';
    display: block;
    position: relative;
    font-family: 'Gulfs Display Condensed';
    font-size: 250px;
    color: #FFD85A;
    padding: 200px 0px 0 500px;
    margin-bottom: 40px ;
}

.text-parchita{
    font-family: 'Boismend Bold' ;
    box-sizing: border-box;
    position: flex ;
    font-family: 'Boismend Bold';
    text-transform: uppercase;
    font-size: 40px;
    width: 100%;
    color: #FFD85A;
    padding:  20px 400px;
    justify-content: center;
}

#Q1, #P1{
    transition: 1s;
}



/* WEIRD MEDIA */



/* tablet-portrait: min:768px - max:1023px; */

@media (max-width: 1200px) and (min-width: 768px){


    .menu-box{

        display: inline-block;
        margin: 100px 20px 150px 5px;
        padding: 100px 0;
    }
    

    .que-container{
        display: block;
        height: 100vh;
        width: 100%;
        margin: 200px 0 0 0;
    
    }

    .que-tittle{
        font-family: 'Gulfs Display Condensed';
        display: block;
        position: relative;
        font-size: 200px;
        color: #D94D58;
        padding: 0 300px 0px 100px;
        margin-top: 15rem;
    
    }

    .text{
        font-family: 'Boismend Bold' ;
        box-sizing: border-box;
        position: flex ;
        font-family: 'Boismend Bold';
        text-transform: uppercase;
        font-size: 40px;
        width: 100%;
        color: #844395;
        padding:  0px 100px;
        justify-content: center;
        align-items: center;
    
    }

    .parchita-container{
        display: block;
        height: 900px;
        width: 100%;
        margin: 750px 0 750px 0;
    
    }

    .parchita-tittle{
        font-family: 'Gulfs Display Condensed';
        display: block;
        position: relative;
        font-family: 'Gulfs Display Condensed';
        font-size: 200px;
        color: #FFD85A;
        padding: 0 0 0 200px;
        margin-bottom: 20px ;
    }

    .text-parchita{
        font-family: 'Boismend Bold' ;
        box-sizing: border-box;
        position: flex ;
        font-family: 'Boismend Bold';
        text-transform: uppercase;
        font-size: 40px;
        width: 100%;
        color: #FFD85A;
        padding: 0 80px 0 250px ;
        justify-content: center;
    }

}


/* TABLET QUERY */

/* small-tablet-landscape: max:800px - min:767px */

@media (max-width: 800px) and (min-width: 600px){

    body{
        background-image: url('../img/LA\ PARCHITA_BG_01_LANDING_IPAD-01.jpg');
        background-attachment:local;
        background-repeat: no-repeat;
        background-size: cover;
    
    }

    .container{
        font-family: 'Gulfs Display Condensed';
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;

    }

    .wrapper{
        display: block;
        width: 100vw;
        height: 100vh;
        
    }
    
    .menu-box{
    
        display: block;               
        padding:0;
        margin: 40px 80px 40px 80px ;

    }
    
    .LA-text{
        display: block;
        color: #D94D58;
        font-size: 300px;
        text-shadow: -15px 0 #FFD85A, 0 15px #FFD85A, 15px 0 #FFD85A, 0 -15px #FFD85A;
        padding: ;
    
    }
    
    
    .container-wrapper{
        display: block;
        margin-top: 10px;
        padding: 0;
        
    }
    

    
    a{  
        margin: auto;
        text-decoration: none;
        pointer-events:painted;   
    }
    
    
    .carousel{
        position: relative;
        width: 100vw;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        
    }
    
    .carousel-item{
        position: absolute;
        width: 100vw;
        display: flex;
        align-items: center;
        padding: 0;
        opacity: 0;
        filter: drop-shadow(0 2px 2px #777777);
        will-change: transform, opacity;
        animation: carouselAnim 10s linear infinite;
        margin-top: 140px; 
    
    }


    .title{
        display: block;
        background-color: #D94D58;
        font-size: 180px;
        color: #FFD85A;
        padding: 0 10px;
    }

    .que-container{
        display: block;
        height: 100vh;
        width: 100%;
        margin: 0 auto;
    
    }
    
    
    .que-tittle{
        font-family: 'Gulfs Display Condensed';
        display: block;
        position: relative;
        font-size: 150px;
        color: #D94D58;
        padding: 0 0 0 100px;
        margin-top: 0px;
    
    }
    
    .text{
        font-family: 'Boismend Bold' ;
        box-sizing: border-box;
        position: flex ;
        font-family: 'Boismend Bold';
        text-transform: uppercase;
        font-size: 30px;
        width: 100%;
        color: #844395;
        padding:  0 60px 80px 60px;
        justify-content: center;
        margin: 0 auto 40px auto;
    
    }
    
    
    .parchita-container{
        display: block;
        height: 100%;
        width: 100%;
        margin: 16rem 0 45rem 10px;
    
    }
    
    .parchita-tittle{
        font-family: 'Gulfs Display Condensed';
        display: block;
        position: relative;
        font-family: 'Gulfs Display Condensed';
        font-size: 150px;
        color: #FFD85A;
        padding: 0 0 0 200px;
        margin-bottom: 20px ;
    }
    
    .text-parchita{
        font-family: 'Boismend Bold' ;
        box-sizing: border-box;
        position: flex ;
        font-family: 'Boismend Bold';
        text-transform: uppercase;
        font-size: 30px;
        width: 100%;
        color: #FFD85A;
        padding:  0 20px 0 110px;
        justify-content: center;
    }

}


/* small-tablet-portrait: min:600px - max:799px; */
    
@media screen (min-width: 600px) and (max-width: 799px) {

    .container{
        font-family: 'Gulfs Display Condensed';
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;

    }

    .wrapper{
        display: block;
        width: 100vw;
        height: 100vh;
        
    }
    
    .menu-box{
    
        display: block;               
        padding:0;
        margin: 40px 80px 40px 80px ;

    }
    
    .LA-text{
        display: block;
        color: #D94D58;
        font-size: 125px;
        text-shadow: -15px 0 #FFD85A, 0 15px #FFD85A, 15px 0 #FFD85A, 0 -15px #FFD85A;
    
    }
    
    
    .container-wrapper{
        display: block;
        margin-top: 10px;
        padding: 0;
        
    }
    

    
    a{  
        margin: auto;
        text-decoration: none;
        pointer-events:painted;   
    }
    
    
    .carousel{
        position: relative;
        width: 100vw;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        
    }
    
    .carousel-item{
        position: absolute;
        width: 100vw;
        display: flex;
        align-items: center;
        padding: 0;
        opacity: 0;
        filter: drop-shadow(0 2px 2px #777777);
        will-change: transform, opacity;
        animation: carouselAnim 10s linear infinite;
        margin-top: 140px; 
    
    }


    .title{
        display: block;
        background-color: #D94D58;
        font-size: 110px;
        color: #FFD85A;
        padding: 0 10px;
    }

    .que-container{
        display: block;
        height: 100vh;
        width: 100%;
        margin: 0 auto;
    
    }
    
    
    .que-tittle{
        font-family: 'Gulfs Display Condensed';
        display: block;
        position: relative;
        font-size: 80px;
        color: #D94D58;
        padding: 0 0 0 100px;
        margin-top: 0;
    
    }
    
    .text{
        font-family: 'Boismend Bold' ;
        box-sizing: border-box;
        position: flex ;
        font-family: 'Boismend Bold';
        text-transform: uppercase;
        font-size: 25px;
        width: 100%;
        color: #844395;
        padding:  0 40px 80px 60px;
        justify-content: center;
        margin: 0 auto 40px auto;
    
    }
    
    
    .parchita-container{
        display: block;
        height: 100%;
        width: 100%;
        margin: 16rem 0 45rem 0;
    
    }
    
    .parchita-tittle{
        font-family: 'Gulfs Display Condensed';
        display: block;
        position: relative;
        font-family: 'Gulfs Display Condensed';
        font-size: 80px;
        color: #FFD85A;
        padding: 0 0 0 0;
        margin-bottom: 5px ;
    }
    
    .text-parchita{
        font-family: 'Boismend Bold' ;
        box-sizing: border-box;
        position: flex ;
        font-family: 'Boismend Bold';
        text-transform: uppercase;
        font-size: 25px;
        width: 100%;
        color: #FFD85A;
        padding:  0 20px 0 110px;
        justify-content: center;
    }
    
}




/* MOBILE RESPONSIVE */

/* mobile-landscape: min:480px - max:599px; */


@media (max-width: 599px) and (min-width: 480px){

    body{
        background-image: url(../img/LA\ PARCHITA_BG_01_LANDING_IPAD-01.jpg);
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
    
    }

    

    .container{
        font-family: 'Gulfs Display Condensed';
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;

    }

    .wrapper{
        display: block;
        width: 100vw;
        height: 100vh;
        
    }
    
    .menu-box{
    
        display: block;               
        padding:0;
        margin: 80px 80px 0 80px ;

    }
    
    .LA-text{
        display: block;
        color: #D94D58;
        font-size: 175px;
        text-shadow: -15px 0 #FFD85A, 0 15px #FFD85A, 15px 0 #FFD85A, 0 -15px #FFD85A;
    
    }
    
    
    .container-wrapper{
        display: block;
        margin-top: 10px;
        padding: 0;
        
    }
    

    
    a{  
        margin: auto;
        text-decoration: none;
        pointer-events:painted;   
    }
    
    
    .carousel{
        position: relative;
        width: 100vw;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        
    }
    
    .carousel-item{
        position: absolute;
        width: 100vw;
        display: flex;
        align-items: center;
        padding: 0;
        opacity: 0;
        filter: drop-shadow(0 2px 2px #777777);
        will-change: transform, opacity;
        animation: carouselAnim 10s linear infinite;
        margin-top: 200px; 
    
    }


    .title{
        display: block;
        background-color: #D94D58;
        font-size: 125px;
        color: #FFD85A;
        padding: 0 10px;
        margin: 8rem auto;
    }

    .que-container{
        display: block;
        height: 100vh;
        width: 100vw;
        margin: 0 auto 4rem;
    
    }
    
    
    .que-tittle{
        font-family: 'Gulfs Display Condensed';
        display: block;
        position: relative;
        font-size: 100px;
        color: #D94D58;
        padding: 0 0 0 100px;
        margin-top: 0;
    
    }
    
    .text{
        font-family: 'Boismend Bold' ;
        box-sizing: border-box;
        position: flex ;
        font-family: 'Boismend Bold';
        text-transform: uppercase;
        font-size: 25px;
        width: 100%;
        color: #844395;
        padding:  0 40px 80px 40px;
        justify-content: center;
        margin: 0 auto 100px auto;
    
    }
    
    
    .parchita-container{
        display: block;
        height: 100vh;
        width: 100vw;
        margin: 10rem 0 10rem 0;
    
    }
    
    .parchita-tittle{
        font-family: 'Gulfs Display Condensed';
        display: block;
        position: relative;
        font-family: 'Gulfs Display Condensed';
        font-size: 80px;
        color: #FFD85A;
        padding: 0 0 0 150px;
        margin-bottom: 5px ;
    }
    
    .text-parchita{
        font-family: 'Boismend Bold' ;
        box-sizing: border-box;
        position: flex ;
        font-family: 'Boismend Bold';
        text-transform: uppercase;
        font-size: 25px;
        width: 100%;
        color: #FFD85A;
        padding:  0 20px 0 110px;
        justify-content: center;
    }
    
}


/* mobile-portrait: min:320px - max:479px; */

@media screen (min-width: 320px) and (max-width: 479px) {

    body{
        background-image: url(../img/LA\ PARCHITA_BG_01_LANDING_IPAD-01.jpg);
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
    
    }

    

    .container{
        font-family: 'Gulfs Display Condensed';
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;

    }

    .wrapper{
        display: block;
        width: 100vw;
        height: 100vh;
        
    }
    
    .menu-box{
    
        display: block;               
        padding:0;
        margin: 80px 0 0 0 ;

    }
    
    .LA-text{
        display: block;
        color: #D94D58;
        font-size: 100px;
        text-shadow: -15px 0 #FFD85A, 0 15px #FFD85A, 15px 0 #FFD85A, 0 -15px #FFD85A;
    
    }
    
    
    .container-wrapper{
        display: block;
        margin-top: 10px;
        padding: 0;
        
    }
    

    
    a{  
        margin: auto;
        text-decoration: none;
        pointer-events:painted;   
    }
    
    
    .carousel{
        position: relative;
        width: 100vw;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        
    }
    
    .carousel-item{
        position: absolute;
        width: 100vw;
        display: flex;
        align-items: center;
        padding: 0;
        opacity: 0;
        filter: drop-shadow(0 2px 2px #777777);
        will-change: transform, opacity;
        animation: carouselAnim 10s linear infinite;
        margin-top: 200px; 
    
    }


    .title{
        display: block;
        background-color: #D94D58;
        font-size: 125px;
        color: #FFD85A;
        padding: 0 10px;
        margin: 8rem auto;
    }

    .que-container{
        display: block;
        height: 100vh;
        width: 100vw;
        margin: 0 auto 4rem;
    
    }
    
    
    .que-tittle{
        font-family: 'Gulfs Display Condensed';
        display: block;
        position: relative;
        font-size: 100px;
        color: #D94D58;
        padding: 0 0 0 100px;
        margin-top: 0;
    
    }
    
    .text{
        font-family: 'Boismend Bold' ;
        box-sizing: border-box;
        position: flex ;
        font-family: 'Boismend Bold';
        text-transform: uppercase;
        font-size: 25px;
        width: 100%;
        color: #844395;
        padding:  0 40px 80px 40px;
        justify-content: center;
        margin: 0 auto 100px auto;
    
    }
    
    
    .parchita-container{
        display: block;
        height: 100vh;
        width: 100vw;
        margin: 10rem 0 10rem 0;
    
    }
    
    .parchita-tittle{
        font-family: 'Gulfs Display Condensed';
        display: block;
        position: relative;
        font-family: 'Gulfs Display Condensed';
        font-size: 80px;
        color: #FFD85A;
        padding: 0 0 0 150px;
        margin-bottom: 5px ;
    }
    
    .text-parchita{
        font-family: 'Boismend Bold' ;
        box-sizing: border-box;
        position: flex ;
        font-family: 'Boismend Bold';
        text-transform: uppercase;
        font-size: 25px;
        width: 100%;
        color: #FFD85A;
        padding:  0 20px 0 110px;
        justify-content: center;
    }
    
}



