@font-face {
    font-family: 'Gulfs Display Condensed' ;
    src: url(../Font/GulfsDisplay-Condensed.ttf);
    font-weight: 1000;
    font-size:normal;

}


*{
    line-height: 0.8em;
}

body{

    background-image: url('../img/home\ site\ fondo.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



h1{

}

#btn-shop{
    color: #844395;
    background-color: #FFD85A;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(133, 67, 149, 0.502), 0 6px 20px 0 rgba(133, 67, 149, 0.108);
    transition: 0.5s;
}

#btn-shop:hover{

    color: #FFD85A ;
    background-color: #844395;
    border: 1px solid #FFD85A;
    box-shadow: 0 4px 8px 0 rgba(255, 216, 90, 0.502), 0 6px 20px 0 rgba(255, 216, 90, 0.108);
}



/* RESPONSIVE MOBILE */