*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid #fff;
}

body{
    background-image: url('../img/LAPARCHITA_HOME_BG_01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

img{
    filter: drop-shadow(0 4px 4px #D94D58);
}
#btn-img{

    background-image: url('../img/Logos/LAPARCHITA_tocame-10.png');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 150px;
    height: 150px; 
    border-radius: 100%;
    filter: drop-shadow(0 2px 2px #D94D58);
    animation: buttonResizing 0.5s ease infinite;
    transition: 1s;
    
}


/* MOBILE RESPONSIVE */

/* @media only screen and (max-width: 600px){

    #btn-img{

        background-image: url('../img/Logos/LAPARCHITA_tocame-10.png');
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        width: 75px;
        height: 75px; 
        border-radius: 100%;
        filter: drop-shadow(0 2px 2px #D94D58);
        animation: buttonResizing 0.5s ease infinite;
        transition: 1s;
        
    }


} */

