@font-face {
    font-family: 'Gulfs Display Condensed' ;
    src: url(../Font/GulfsDisplay-Condensed.ttf);
    font-weight: 1000;
    font-size:normal;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    background-image: url('../img/LAPARCHITA_HOME_BG_01.jpg') ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
}



i{
    position: absolute;
    background: rgb(217,77,88);
    background: -moz-linear-gradient(45deg, rgba(217,77,88,1) 20%, rgba(132,67,149,1) 80%);
    background: -webkit-linear-gradient(45deg, rgba(217,77,88,1) 20%, rgba(132,67,149,1) 80%);
    background: linear-gradient(45deg, rgba(217,77,88,1) 20%, rgba(132,67,149,1) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d94d58",endColorstr="#844395",GradientType=1);
    border-top-left-radius: 80%;
    border-bottom-right-radius: 80%;
    border-top-right-radius: 18%;
    width: 10px;
    height: 50px;
    top: -100px;
    animation: rainLeaf 10s linear infinite;


}


@keyframes rainLeaf{
    0${
        top: -10%;
    }

    100%{
        top: calc(100vh + 50px);
    }
}
    


.logo-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 100;
    
}

.logo-text{ 
    display: block !important;
    filter: drop-shadow(0 4px 4px #D94D58);
    width: 1000px;
}

.img-btn{
    background-image: url(../img/Logos/logo-export-RGB-transparente-2.png);
    background-attachment: fixed;
    background-size: cover;
    width: 150px;
    height: 150px; 
    filter: drop-shadow(0 2px 2px #D94D58);
    animation: buttonResizing 0.5s ease infinite;
    transition: 1s;

}

.img-btn:hover{
    background-image: url(../img/Logos/LAPARCHITA_tocame-10.png);
    background-repeat: no-repeat;
    background-position: cover;
    background-attachment: fixed;
    background-size: contain;
    
}

a{  
    display:flex;
    position: relative;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 0 420px;

}



@keyframes buttonResizing{
    from {transform: scale(1);}
    to {transform: scale(0.85);}
}
    





/* RESPONSIVE MOBILE */

@media (max-width: 600px){


    .logo-content{
        width: 100vw;
        min-height: 90vh;
    }

    .logo-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 150px auto;
        z-index: 100;
        
    }

    .logo-text{
        width: 350px;
        margin: auto;

    }

    a{  
        display:flex;
        position: relative;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        margin: 0 auto;
    
    }

    .img-btn{
        height: 115px;
        width: 115px;
        margin: 20px 0;

    }


}




/* RESPONSIVE TABLET */

@media (max-width: 920px) and (min-width: 600px){


    .logo-content{
        width: 100vw;
        min-height: 90vh;
    }


    .logo-text{
        width: 750px;
        margin: auto;


    }

    a{  
        display:block;
        position: relative;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        margin: 0 auto;
    
    }

    .img-btn{
        height: 175px;
        width: 175px;
        margin: 50px auto;

    }


}

